.navbar {
	background-color: rgb(128, 103, 101);
	overflow: hidden;
	display: block;
	justify-content: center;
}

.navbar a {
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a.pages {
	float: left;
	display: block;
	text-decoration: none;
}

.centered-nav {
	padding: 250px, 250px;
}



}	
.navbar a:hover {
	color: rgb(198, 198, 198);
}

.pages_right {
	float: right;
}

.navbar a.logo {
	float: left;
	font-family: cursive;
	font-weight: bold;
	font-size: large;
}

html, body {
	height: 100%;
}

body {
	background-image: url('resources/ticket-image.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.centered-text {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	text-align: left;
	color: #fff;
	background-color: rgb(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 10px;
	width: 50%;
	height: 27%;
}

.centered-text p {
	font-size: large;
}

.right-side {
	position: absolute;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	background-color: rgb(0, 0, 0, 0.75);
	width: 40%;
	height: 70%;
	border-radius: 20px;
}

.content {
	color: #fff;
	font-size: large;
	background-color: rgb(0, 0, 0, 0.5);
	padding: 20px;
	text-align: center;
}

 .content form {
            text-align: center;
        }

.footer {
	color: #fff;
}