<!Doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="stylesheet" href="/static/css/css/magnific-popup.css">
	<link rel="stylesheet" href="/static/css/css/bootstrap.min.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/css/css/style.css">
	<script src="" defer></script>
	<title> eCampus-Connect</title>	
</head>
<body>
	<body>
		<!-- PRE LOADER -->
		<section class="preloader">
			 <div class="spinner">
				  <span class="spinner-rotate"></span>
			 </div>
		</section>
		<!-- MENU -->
		<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
			 <div class="container">
   
				  <div class="navbar-header">
					   <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon icon-bar"></span>
							<span class="icon icon-bar"></span>
							<span class="icon icon-bar"></span>
					   </button>
   
					   <!-- lOGO TEXT HERE -->
					   <a href="#home" class="navbar-brand">eCampus-Connect</a>
				  </div>
   
				  <!-- MENU LINKS -->
				  <div class="collapse navbar-collapse">
					   <ul class="nav navbar-nav navbar-nav-first">
							<li><a href="#home" class="smoothScroll">Home</a></li>
							<li><a href="#about" class="smoothScroll">About Us</a></li>
							<li><a href="#event" class="smoothScroll">Events</a></li>
							<li><a href="#universities" class="smoothScroll">Universities</a></li>
							<li><a href="#contact" class="smoothScroll">Contact Us</a></li>
					   </ul>
   
					   <ul class="nav navbar-nav navbar-right">
							<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li class="section-btn"><a href="#" data-toggle="modal" data-target="#modal-form">Sign in / Join</a></li>
					   </ul>
				  </div>
   
			 </div>
		</section>
   
   
		<!-- HOME -->
		<section id="home" data-stellar-background-ratio="0.5">
			 <div class="overlay"></div>
			 <div class="container">
				  <div class="row">
   
					   <div class="col-md-6 col-sm-12">
							<div class="home-info">
								 <h1>Welcome to eCampus-Connect: Your Digital Campus Event Hub!</h1>
								 <a href="#about" class="btn section-btn smoothScroll">On Going Events</a>
								 <span>
									  CALL US (+27) 012 345 6789
									  <small>For any inquiry</small>
								 </span>
							</div>
					   </div>
   
					   <div class="col-md-6 col-sm-12">
							<div class="home-video">
								 <div class="embed-responsive embed-responsive-16by9">
									  <iframe src="https://www.youtube.com/embed/WUPSBfQ3o3g" frameborder="0" allowfullscreen></iframe>
								 </div>
							</div>
					   </div>
					   
				  </div>
				  <div class="col-md-6 col-sm-12">
					<h2 style="color: red;">{{message}}</h2>
				  </div>
			 </div>
		</section>
   
   
		<!-- ABOUT -->
		<section id="about" data-stellar-background-ratio="0.5">
			 <div class="container">
				  <div class="row">
   
					   <div class="col-md-5 col-sm-6">
							<div class="about-info">
								 <div class="section-title">
									  <h2>Let us introduce</h2>
									  <span class="line-bar">...</span>
								 </div>
								 <p>It unites students from South African tertiary institutions in a dynamic virtual community. </p>
								 <p>Experience entertainment, leadership seminars, talent showcases, and education.</p>
								 <p>Engage in digital sports competitions and more. Join us for an annual mega event that promises growth and endless possibilities. Your eCampus journey begins here!</p>
							</div>
					   </div>
   
					   <div class="col-md-3 col-sm-6">
							<div class="about-info skill-thumb">
   
								 <strong>User Growth</strong>
									  <span class="pull-right">35%</span>
										   <div class="progress">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
										   </div>
   
								 <strong>Event Participation</strong>
									  <span class="pull-right">90%</span>
										   <div class="progress">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
										   </div>
   
								 <strong>Digital Reach</strong>
									  <span class="pull-right">90%</span>
										   <div class="progress">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
										   </div>
   
								 <strong>Positive Feedback</strong>
									  <span class="pull-right">95%</span>
										   <div class="progress">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
										   </div>
   
							</div>
					   </div>
   
					   <div class="col-md-4 col-sm-12">
							<div class="about-image">
								 <img src="/static/css/images/logo.png" class="img-responsive" alt="">
							</div>
					   </div>
					   
				  </div>
			 </div>
		</section>
   
   
		<!-- Events  -->
		<section id="event" data-stellar-background-ratio="0.5">
			 <div class="container">
				  <div class="row">
   
					   <div class="col-md-12 col-sm-12">
							<div class="section-title">
								 <h2>Events</h2>
								 <span class="line-bar">...</span>
							</div>
					   </div>
   
					   <div class="col-md-6 col-sm-6">
							<!-- event THUMB-->
							<div class="media event-thumb">
								 <div class="media-object media-left">
									  <a href="/resources/event-details.html"><img src="/images/codingCompetition.jpg" class="img-responsive" alt=""></a>
								 </div>
								 <div class="media-body event-info">
									  <small><i class="fa fa-clock-o"></i> March 22, 2023</small>
									  <h3><a href="/resources/event-details.html">Hackerthorn Code Clash Championship</a></h3>
									  <p>Engage in an epic coding battle where participants showcase their algorithmic prowess...</p>
									  <a href="/resources/event-details.html" class="btn section-btn">View Detail</a>
								 </div>
							</div>
					   </div>
   
					   <div class="col-md-6 col-sm-6">
							<!-- event THUMB -->
							<div class="media event-thumb">
								 <div class="media-object media-left">
									  <a href="/resources/event-details.html"><img src="/images/hackerthornEdition.jpg" class="img-responsive" alt=""></a>
								 </div>
								 <div class="media-body event-info">
									  <small><i class="fa fa-clock-o"></i> July 18, 2023</small>
									  <h3><a href="/resources/event-details.html">Innovation Challenge: Hackathon Edition.</a></h3>
									  <p>Unleash your creativity in the Innovation Challenge! This hackathon-style event encourages...</p>
									  <a href="/resources/event-details.html" class="btn section-btn">View Detail</a>
								 </div>
							</div>
					   </div>
   
					   <div class="col-md-6 col-sm-6">
							<!-- event THUMB -->
							<div class="media event-thumb">
								 <div class="media-object media-left">
									  <a href="/resources/event-details.html"><img src="/images/capturetheFlag.jpg" class="img-responsive" alt=""></a>
								 </div>
								 <div class="media-body event-info">
									  <small><i class="fa fa-clock-o"></i> August 14, 2023</small>
									  <h3><a href="/resources/event-details.html">Capture the Flag (CTF) Cybersecurity Challenge</a></h3>
									  <p>Step into the world of cybersecurity with our Capture the Flag challenge. University students...</p>
									  <a href="/resources/event-details.html" class="btn section-btn">View Detail</a>
								 </div>
							</div>
					   </div>
   
					   <div class="col-md-6 col-sm-6">
							<!-- event THUMB -->
							<div class="media event-thumb">
								 <div class="media-object media-left">
									  <a href="/resources/event-details.html"><img src="/images/techDebate.jpg" class="img-responsive" alt=""></a>
								 </div>
								 <div class="media-body event-info">
									  <small><i class="fa fa-clock-o"></i> Septemper 19, 2023</small>
									  <h3><a href="/resources/event-details.html">TechDebate: IT Strategy Showdown</a></h3>
									  <p>It's not just about coding; it's about strategy. TechDebate brings together university teams to...</p>
									  <a href="/resources/event-details.html" class="btn section-btn">View Detail</a>
								 </div>
							</div>
					   </div>
					   
				  </div>
			 </div>
		</section>
   
   
		<!-- Universities -->
		<section id="universities" data-stellar-background-ratio="0.5">
			 <div class="container">
				  <div class="row">
   
					   <div class="col-md-12 col-sm-12">
							<div class="section-title">
								 <h2>Universities With Us</h2>
								 <span class="line-bar">...</span>
							</div>
					   </div>
   
					   <div class="col-md-3 col-sm-6">
							<!-- University Thumb -->
							<div class="uni-thumb">
								 <a href="{{ url_for('static', filename='css/images/UCTlogo.jpg') }}" class="image-popup">
									  <img src="{{ url_for('static', filename='css/images/UCTlogo.jpg') }}" class="img-responsive" alt="University of Cape Town">
   
									  <div class="uni-info">
										   <h3>Our Partner</h3>
										   <small>University of Cape Town</small>
									  </div>
								 </a>
							</div>
					   </div>
   
					   <div class="col-md-3 col-sm-6">
							<!-- University Thumb -->
							<div class="uni-thumb">
								 <a href="{{ url_for('static', filename='css/images/wits.png') }}" class="image-popup">
									  <img src="{{ url_for('static', filename='css/images/wits.png') }}" class="img-responsive" alt="University of the Witwatersrand">
   
									  <div class="uni-info">
										   <h3>Our Partner</h3>
										   <small>University of the Witwatersrand</small>
									  </div>
								 </a>
							</div>
					   </div>
   
					   <div class="col-md-3 col-sm-6">
							<!-- University Thumb -->
							<div class="uni-thumb">
								 <a href="{{ url_for('static', filename='css/images/up.jpg') }}" class="image-popup">
									  <img src="{{ url_for('static', filename='css/images/up.jpg') }}" class="img-responsive" alt="University of Pretoria">
   
									  <div class="uni-info">
										   <h3>Our Partner</h3>
										   <small>University of Pretoria</small>
									  </div>
								 </a>
							</div>
					   </div>
   
					   <div class="col-md-3 col-sm-6">
							<!-- University Thumb -->
							<div class="uni-thumb">
								 <a href="{{ url_for('static', filename='css/images/uj.png') }}" class="image-popup">
									  <img src="{{ url_for('static', filename='css/images/uj.png') }}" class="img-responsive" alt="University of Johannesburg">
   
									  <div class="uni-info">
										   <h3>Our Partner</h3>
										   <small>University of Johannesburg</small>
									  </div>
								 </a>
							</div>
					   </div>
   
				  </div>
			 </div>
		</section>
   
		<!-- CONTACT -->
		<section id="contact" data-stellar-background-ratio="0.5">
			 <div class="container">
				  <div class="row">
   
					   <div class="col-md-12 col-sm-12">
							<div class="section-title">
								 <h2>Contact us</h2>
								 <span class="line-bar">...</span>
							</div>
					   </div>
   
					   <div class="col-md-8 col-sm-8">
						   
							<!-- CONTACT FORM HERE -->
							<form id="contact-form" role="form" action="" method="post">
								 <div class="col-md-6 col-sm-6">
									  <input type="text" class="form-control" placeholder="Full Name" id="name" name="name" required="">
								 </div>
   
								 <div class="col-md-6 col-sm-6">
									  <input type="email" class="form-control" placeholder="Your Email" id="email" name="email" required="">
								 </div>
   
								 <div class="col-md-6 col-sm-6">
									  <input type="tel" class="form-control" placeholder="Your Phone" id="number" name="phone_number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required="">
								 </div>
   
								 <div class="col-md-6 col-sm-6">
									  <select class="form-control" id="institution" name="institution">
										   <option>University</option>
										   <option>University of Cape Town</option>
										   <option>University of the Witwatersrand</option>
										   <option>University of Pretoria</option>
										   <option>Stellenbosch University</option>
										   <option>	University of South Africa</option>
										   <option>University of Johannesburg</option>
									  </select>
								 </div>
   
								 <div class="col-md-12 col-sm-12">
									  <textarea class="form-control" rows="6" placeholder="Your Enquiry" id="message" name="message" required=""></textarea>
								 </div>
   
								 <div class="col-md-4 col-sm-12">
									  <input type="submit" class="form-control" name="submit" value="Send Message">
								 </div>
   
							</form>
					   </div>
   
					   <div class="col-md-4 col-sm-4">
							<div class="google-map">
	   <!-- How to change your own map point
			   1. Go to Google Maps
			   2. Click on your location point
			   3. Click "Share" and choose "Embed map" tab
			   4. Copy only URL and paste it within the src="" field below
	   -->
	    						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114584.73585386139!2d28.04002454999999!3d-26.171521499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950c68f0406a51%3A0x238ac9d9b1d34041!2sJohannesburg!5e0!3m2!1sen!2sza!4v1699987257344!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
					   </div>
   
				  </div>
			 </div>
		</section>
   
   
		<!-- FOOTER -->
		<footer data-stellar-background-ratio="0.5">
			 <div class="container">
				  <div class="row">
   
					   <div class="col-md-5 col-sm-12">
							<div class="footer-thumb footer-info"> 
								 <h2>eCampus Connect</h2>
								 <p>Your Digital Campus Event Hub" is the future of online campus events.
									It unites students from South African tertiary institutions in a dynamic virtual community.
									Experience entertainment, leadership seminars, talent showcases, and education.
									Engage in digital sports competitions and more. Join us for an annual mega event that promises growth and endless possibilities. Your eCampus journey begins here!</p>
							</div>
					   </div>
   
					   <div class="col-md-2 col-sm-4"> 
							<div class="footer-thumb"> 
								 <h2>Company</h2>
								 <ul class="footer-link">
									  <li><a href="#">About Us</a></li>
									  <li><a href="#">Join our team</a></li>
									  <li><a href="#">See Our Events</a></li>
									  <li><a href="#">Blog</a></li>
								 </ul>
							</div>
					   </div>
   
					   <div class="col-md-2 col-sm-4"> 
							<div class="footer-thumb"> 
								 <h2>Services</h2>
								 <ul class="footer-link">
									  <li><a href="#">Events</a></li>
									  <li><a href="#">Documentation</a></li>
									  <li><a href="#">Support</a></li>
								 </ul>
							</div>
					   </div>
   
					   <div class="col-md-3 col-sm-4"> 
							<div class="footer-thumb"> 
								 <h2>Find us</h2>
								 <p>Johannesburg, <br> Gauteng, South Africa <br> 1401</p>
							</div>
					   </div>                    
   
					   <div class="col-md-12 col-sm-12">
							<div class="footer-bottom">
								 <div class="col-md-6 col-sm-5">
									  <div class="copyright-text"> 
										   <p>Copyright &copy; 2023 eCampus-Connect</p>
									  </div>
								 </div>
								 <div class="col-md-6 col-sm-7">
									  <div class="phone-contact"> 
										   <p>Call us <span>(+27) 012-345-6789</span></p>
									  </div>
									  <ul class="social-icon">
										   <li><a href="https://www.facebook.com/templatemo" class="fa fa-facebook-square" attr="facebook icon"></a></li>
										   <li><a href="#" class="fa fa-twitter"></a></li>
										   <li><a href="#" class="fa fa-instagram"></a></li>
									  </ul>
								 </div>
							</div>
					   </div>
					   
				  </div>
			 </div>
		</footer>
   
   
		<!-- MODAL -->
		<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			 <div class="modal-dialog modal-lg">
				  <div class="modal-content modal-popup">
   
					   <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								 <span aria-hidden="true">&times;</span>
							</button>
					   </div>
   
					   <div class="modal-body">
							<div class="container-fluid">
								 <div class="row">
   
									  <div class="col-md-12 col-sm-12">
										   <div class="modal-title">
												<h2>eCampus Connect</h2>
										   </div>
   
										   <!-- NAV TABS -->
										   <ul class="nav nav-tabs" role="tablist">
												<li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Create an account</a></li>
												<li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
										   </ul>
   
										   <!-- TAB PANES -->
										   <div class="tab-content">
												<div role="tabpanel" class="tab-pane fade in active" id="sign_up">
													 <form action="" method="post">
														  
														  <input type="text" class="form-control" name="name" placeholder="Name" required>
														  <input type="tel" class="form-control" name="phone_number" placeholder="Phone Number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
														  <input type="email" class="form-control" name="email" placeholder="Email" required>
														  <input type="password" class="form-control" name="password" placeholder="Password" required>
														  <input type="password" class="form-control" name="password" placeholder="Confirm Password" required>
														  <input type="submit" class="form-control" name="submit" value="Submit">
													 </form>
												</div>
												
												
   
												<div role="tabpanel" class="tab-pane fade in" id="sign_in">
													 <form action="/login" method="post">
														  <input type="email" class="form-control" name="email" placeholder="Email" required>
														  <input type="password" class="form-control" name="password" placeholder="Password" required>
														  <input type="submit" class="form-control" name="submit" id="submit" value="Submit">
														  <a href="https://forgotpage/">Forgot your password?</a>
													 </form>
												</div>
										   </div>
									  </div>
   
								 </div>
							</div>
					   </div>
   
				  </div>
			 </div>
		</section>
	<!-- <section class="about-section">
		<h2>
			About Us
		</h2>
		<p>
			It unites students from South African tertiary institutions in a dynamic virtual community.
			Experience entertainment, leadership seminars, talent showcases, and education.
			Engage in digital sports competitions and more. Join us for an annual mega event that promises growth and endless possibilities. Your eCampus journey begins here!
		</p>
	</section>
	
	<section class="what-we-offer">		
		<h2>
			What We Offer
		</h2>
		<ul>
			<li>virtual Events</li>
			<li>Talent showcases</li>
			<li>Educational Opportunities</li>
			<li>Digital Sports Competitions</li>
		</ul>
		
	</section>

	<section class="join-community">	
		<h2>
			Join the Community
		</h2>
		<p>
			Don't miss out on the action! Join us on eCampus-Connect and become a part of a dynamic community where growth and endless possibilities await.
		</p>
		<a href="#" style="margin-right: 20px;">
			Sign Up Now
		</a>
        <a href="#">
			Learn More
		</a>
	</section>
	
	<section class="contact-section">	
		<h2>
			Contact Us
		</h2>
		<p>
			Have questions or suggestions? We'd love to hear from you. Reach out to us at <a href="mailto:contact@ecampusconnect.com">contact@ecampusconnect.com</a>
		</p>
		
	</section>
		<div class="footer">
			&copy; 2023 eCampus-Connect. All rights reserved.
	</div> -->

	<!-- JavaScript imports -->
	<script src="/static/css/js/jquery.js"></script>
	<script src="/static/css/js/bootstrap.min.js"></script>
	<script src="/static/css/js/jquery.stellar.min.js"></script>
	<script src="/static/css/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/css/js/smoothscroll.js"></script>
	<script src="/static/css/js/custom.js"></script>
</body>
</html>
	