<!DOCTYPE html>
<html>
<head>
    <title>Thank You</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="navbar">
		<a href="/login" class="Login-button">Login</a>
		<a href="/signup" class="Signup-button">Sign/Up</a>
		<a href="/" class="logo">eCampus-Connect</a>
		<a href="/contact" class="pages_right" >Contact</a>
		<a href="/aboutus" class="pages_right">About Us</a>
		<a href="/" class="pages_right">Home</a>
	</div>
	<div class="content">
		<h1>Thank You, {{ signup['name'] }}!</h1>
		<p>Welcome aboard! Your account has been created successfully. Should you need any assistance, feel free to reach out. Enjoy your experience!</p>
	</div>
	
	<div class="footer">
        &copy; 2023 eCampus-Connect. All rights reserved.
    </div>
</body>
</html>